@use 'mixins' as *;

.breadcrumbs {
  margin-bottom: 150px;
  padding: 81px 0 10px;
  font-size: 16px;

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 30px;
  }

  li {
    position: relative;
    color: var(--secondary-color);
  }

  li::after {
    content: '/';
    position: absolute;
    right: -20px;
  }

  li:last-child {
    color: var(--primary-color);
  }

  li:last-child::after {
    display: none;
  }

  a {
    @include hover {
      color: var(--primary-color);
    }
  }

  @include tablet {
    margin-bottom: 100px;
  }

  @include mobile {
    margin-bottom: 50px;
  }
}
