<section class="about">
  <div class="about__fixed">
    <div class="container">
      <div class="about__inner">
        <div class="about__info">
          <h2 class="about__title">
            Я&nbsp;&mdash; Наталья Шен.
            Фотограф, создающий атмосферные съёмки в&nbsp;арт-стиле, где важна каждая эмоция, каждый образ, каждая
            история.
          </h2>
          <p class="about__text">
            Я&nbsp;снимаю так, чтобы кадры ощущались как кино: с&nbsp;настроением, сюжетом и&nbsp;визуальным почерком.
            Мои съёмки&nbsp;&mdash; это не&nbsp;просто фотографии, это эстетика, в&nbsp;которой клиент может выразить
            себя, прожить момент и&nbsp;сохранить его.
          </p>
          <a class="about__link btn-main" href="#">
            <span class="btn-main__inner">
              <span class="btn-main__default">подробнее обо мне</span>
              <span class="btn-main__hover">подробнее обо мне</span>
            </span>
          </a>
        </div>
        <div class="about__images">
          <div class="about__img-wrap">
            <img class="about__img" loading="lazy" src="img/about/1.jpg" width="272" height="250" alt="">
          </div>
          <div class="about__img-wrap">
            <img class="about__img" loading="lazy" src="img/about/2.jpg" width="272" height="250" alt="">
          </div>
          <div class="about__img-wrap">
            <img class="about__img" loading="lazy" src="img/about/3.jpg" width="272" height="250" alt="">
          </div>
          <div class="about__img-wrap">
            <img class="about__img" loading="lazy" src="img/about/4.jpg" width="272" height="250" alt="">
          </div>
          <div class="about__img-wrap">
            <img class="about__img" loading="lazy" src="img/about/5.jpg" width="272" height="250" alt="">
          </div>
          <div class="about__img-wrap">
            <img class="about__img" loading="lazy" src="img/about/6.jpg" width="272" height="250" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
