<section class="about-hero">
  <div class="container">
    <div class="about-hero__headline">
      <h1 class="about-hero__title">
        наталья <br> шен
      </h1>
    </div>
    <div class="about-hero__img-wrap">
      <img class="about-hero__img" src="img/about-hero.jpg" width="850" height="1052" alt="наталья шен">
    </div>
    <div class="about-hero__top">
      <h2 class="about-hero__subtitle">
        наталья <br> шен
      </h2>
      <p class="about-hero__text">
        Я создаю арт-съёмки с настроением, в которых каждая деталь работает на историю. Это больше, чем просто красивая
        картинка — это возможность прожить момент, выразить себя, сохранить ощущение.
        <br>
        Я стремлюсь к визуальной глубине, чтобы каждая серия фотографий звучала, как хорошо поставленный кадр из фильма.
        Для меня важно не просто зафиксировать образ — а передать ощущение времени, характера, эмоции.
      </p>
    </div>
    <div class="about-hero__bottom">
      <h3 class="about-hero__bottom-title">
        Моё творчество — это синтез атмосферы, визуального повествования и тонкой режиссуры.
      </h3>
      <ol class="about-hero__list">
        <li class="about-hero__item">
          <h4 class="about-hero__item-title">
            Захватывать моменты
          </h4>
          <p class="about-hero__item-text">
            Самые искренние кадры рождаются из&nbsp;лёгких, непринуждённых ситуаций.
            <br>
            Я&nbsp;создаю условия,
            в&nbsp;которых модель чувствует себя собой&nbsp;&mdash; и&nbsp;именно тогда получается тот самый кадр,
            в&nbsp;котором она узнаёт себя.
          </p>
        </li>
        <li class="about-hero__item">
          <h4 class="about-hero__item-title">
            Эмоция в центре
          </h4>
          <p class="about-hero__item-text">
            Моя работа строится вокруг ощущения. Свет, поза, цвет&nbsp;&mdash; всё подчинено одному: передать состояние,
            атмосферу, характер.
            <br>
            Мне важно, чтобы на&nbsp;фото ты&nbsp;чувствовал, что было в&nbsp;этот момент, а&nbsp;не&nbsp;только как это
            выглядело.
          </p>
        </li>
        <li class="about-hero__item">
          <h4 class="about-hero__item-title">
            Визуальные истории вне времени
          </h4>
          <p class="about-hero__item-text">
            Я&nbsp;не&nbsp;гонюсь за&nbsp;трендами. Я&nbsp;создаю серии, в&nbsp;которых каждая деталь
            продумана&nbsp;&mdash; от&nbsp;сюжета до&nbsp;образа.
            <br>
            Такие фото хочется пересматривать снова и&nbsp;снова, потому что они не&nbsp;про моду&nbsp;&mdash;
            а&nbsp;про ощущение.
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>
