<section class="catalog">
  <div class="container">
    <h1 class="catalog__title">
      мои проекты
    </h1>
    <div class="catalog__btns">
      <button class="catalog__btn active" data-filter="all">Все проекты</button>
      <button class="catalog__btn" data-filter="recruitment">Идёт набор</button>
      <button class="catalog__btn" data-filter="art">Арт-съёмка</button>
      <button class="catalog__btn" data-filter="love">Love Story</button>
      <button class="catalog__btn" data-filter="wedding">Свадебная съёмка</button>
    </div>
    <div class="catalog__inner">
      <div class="project" data-category="recruitment">
        <div class="project__card project__card--name">
          <div class="project__status">
            <div class="project__status-label"></div>
            <div class="project__status-text">Идёт набор на съёмку</div>
            <div class="project__status-category">Название категории</div>
          </div>
        </div>
        <a class="project__card project__card--horizontal" href="#">
          <div class="project__card-img-wrap">
            <img class="project__card-img" src="img/projects/1.jpg" width="1152" height="690" alt="">
            <img class="project__card-img project__card-img--hidden" src="img/projects/3.jpg" width="1152" height="690"
              alt="">
          </div>
          <div class="project__card-info">
            <div class="project__category">
              <span class="project__category-name">Название категории</span>
              <img class="project__card-icon" loading="lazy" src="img/icons/arrow-up-right-white.svg" width="24"
                height="24" alt="">
            </div>
            <div class="project__name">Название проекта</div>
          </div>
        </a>
        <a class="project__card project__card--vertical" href="#">
          <div class="project__card-img-wrap">
            <img class="project__card-img" src="img/projects/2.jpg" width="576" height="690" alt="">
            <img class="project__card-img project__card-img--hidden" src="img/projects/5.jpg" width="1152" height="690"
              alt="">
          </div>
          <div class="project__card-info">
            <div class="project__category">
              <span class="project__category-name">Название категории</span>
              <img class="project__card-icon" loading="lazy" src="img/icons/arrow-up-right-white.svg" width="24"
                height="24" alt="">
            </div>
            <div class="project__name">Название проекта</div>
          </div>
        </a>
      </div>
      <div class="project" data-category="art">
        <a class="project__card project__card--vertical" href="#">
          <div class="project__card-img-wrap">
            <img class="project__card-img" src="img/projects/4.jpg" width="576" height="690" alt="">
            <img class="project__card-img project__card-img--hidden" src="img/projects/5.jpg" width="1152" height="690"
              alt="">
          </div>
          <div class="project__card-info">
            <div class="project__category">
              <span class="project__category-name">Название категории</span>
              <img class="project__card-icon" loading="lazy" src="img/icons/arrow-up-right-white.svg" width="24"
                height="24" alt="">
            </div>
            <div class="project__name">Название проекта</div>
          </div>
        </a>
        <div class="project__card project__card--name">
          <div class="project__status">
            <h3 class="project__category-title">Арт-съёмка</h3>
          </div>
        </div>
        <a class="project__card project__card--vertical" href="#">
          <div class="project__card-img-wrap">
            <img class="project__card-img" src="img/projects/5.jpg" width="576" height="690" alt="">
            <img class="project__card-img project__card-img--hidden" src="img/projects/4.jpg" width="1152" height="690"
              alt="">
          </div>
          <div class="project__card-info">
            <div class="project__category">
              <span class="project__category-name">Название категории</span>
              <img class="project__card-icon" loading="lazy" src="img/icons/arrow-up-right-white.svg" width="24"
                height="24" alt="">
            </div>
            <div class="project__name">Название проекта</div>
          </div>
        </a>
      </div>
      <div class="project" data-category="love">
        <div class="project__card project__card--name">
          <div class="project__status">
            <h3 class="project__category-title">Love Story</h3>
          </div>
        </div>
        <a class="project__card project__card--horizontal" href="#">
          <div class="project__card-img-wrap">
            <img class="project__card-img" src="img/projects/6.jpg" width="1152" height="690" alt="">
            <img class="project__card-img project__card-img--hidden" src="img/projects/3.jpg" width="1152" height="690"
              alt="">
          </div>
          <div class="project__card-info">
            <div class="project__category">
              <span class="project__category-name">Название категории</span>
              <img class="project__card-icon" loading="lazy" src="img/icons/arrow-up-right-white.svg" width="24"
                height="24" alt="">
            </div>
            <div class="project__name">Название проекта</div>
          </div>
        </a>
        <a class="project__card project__card--horizontal" href="#">
          <div class="project__card-img-wrap">
            <img class="project__card-img" src="img/projects/7.jpg" width="1152" height="690" alt="">
            <img class="project__card-img project__card-img--hidden" src="img/projects/3.jpg" width="1152" height="690"
              alt="">
          </div>
          <div class="project__card-info">
            <div class="project__category">
              <span class="project__category-name">Название категории</span>
              <img class="project__card-icon" loading="lazy" src="img/icons/arrow-up-right-white.svg" width="24"
                height="24" alt="">
            </div>
            <div class="project__name">Название проекта</div>
          </div>
        </a>
        <a class="project__card project__card--vertical" href="#">
          <div class="project__card-img-wrap">
            <img class="project__card-img" src="img/projects/8.jpg" width="576" height="690" alt="">
            <img class="project__card-img project__card-img--hidden" src="img/projects/5.jpg" width="1152" height="690"
              alt="">
          </div>
          <div class="project__card-info">
            <div class="project__category">
              <span class="project__category-name">Название категории</span>
              <img class="project__card-icon" loading="lazy" src="img/icons/arrow-up-right-white.svg" width="24"
                height="24" alt="">
            </div>
            <div class="project__name">Название проекта</div>
          </div>
        </a>
      </div>
      <div class="project" data-category="wedding">
        <div class="project__card project__card--name">
          <div class="project__status">
            <h3 class="project__category-title">Свадебная съёмка</h3>
          </div>
        </div>
        <a class="project__card project__card--horizontal" href="#">
          <div class="project__card-img-wrap">
            <img class="project__card-img" src="img/projects/9.jpg" width="1152" height="690" alt="">
            <img class="project__card-img project__card-img--hidden" src="img/projects/3.jpg" width="1152" height="690"
              alt="">
          </div>
          <div class="project__card-info">
            <div class="project__category">
              <span class="project__category-name">Название категории</span>
              <img class="project__card-icon" loading="lazy" src="img/icons/arrow-up-right-white.svg" width="24"
                height="24" alt="">
            </div>
            <div class="project__name">Название проекта</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
