<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <h2 class="footer__title">
        наталья шен
      </h2>
      <div class="footer__img-wrap">
        <img class="footer__img" loading="lazy" src="img/natalya-shen.jpg" width="556" height="688"
          alt="Фотограф Наталья Шен">
      </div>
    </div>
    <footer-nav class="footer-nav" title="">
      <ul class="footer-nav__list">
        <li class="footer-nav__item">
          <a href="#" class="footer-nav__link btn-main btn-main--white">
            <span class="btn-main__inner">
              <span class="btn-main__default">проекты</span>
              <span class="btn-main__hover">проекты</span>
            </span>
          </a>
        </li>
        <li class="footer-nav__item">
          <a href="#" class="footer-nav__link btn-main btn-main--white">
            <span class="btn-main__inner">
              <span class="btn-main__default">обо мне</span>
              <span class="btn-main__hover">обо мне</span>
            </span>
          </a>
        </li>
        <li class="footer-nav__item">
          <a href="#" class="footer-nav__link btn-main btn-main--white">
            <span class="btn-main__inner">
              <span class="btn-main__default">контакты</span>
              <span class="btn-main__hover">контакты</span>
            </span>
          </a>
        </li>
      </ul>
    </footer-nav>
  </div>
</footer>
