<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <h2 class="hero__subtitle">
        наталья шен
      </h2>
      <h1 class="hero__title">
        Арт-фотография с историей. Образы, в которые веришь.
      </h1>
    </div>
    <a class="hero__link btn-main" href="#">
      <span class="btn-main__inner">
        <span class="btn-main__default">выбрать проект</span>
        <span class="btn-main__hover">выбрать проект</span>
      </span>
    </a>
  </div>
</section>
