<section class="more">
  <div class="container">
    <div class="more__inner">
      <h2 class="more__title">
        ещё проекты
      </h2>
      <a class="more__link btn-secondary" href="#">
        <div class="btn-secondary__inner">
          <div class="btn-secondary__default">Смотреть все</div>
          <div class="btn-secondary__hover">Смотреть все</div>
        </div>
      </a>
    </div>
  </div>
  <div class="swiper more__slider">
    <div class="swiper-wrapper more__swiper-wrapper">
      <div class="swiper-slide more__slide">
        <div class="more__img-wrap">
          <img class="more__img" src="img/more/1.jpg" width="556" height="690" alt="">
        </div>
      </div>
      <div class="swiper-slide more__slide">
        <div class="more__img-wrap">
          <img class="more__img" src="img/more/2.jpg" width="556" height="690" alt="">
        </div>
      </div>
      <div class="swiper-slide more__slide">
        <div class="more__img-wrap">
          <img class="more__img" src="img/more/3.jpg" width="556" height="690" alt="">
        </div>
      </div>
      <div class="swiper-slide more__slide">
        <div class="more__img-wrap">
          <img class="more__img" src="img/more/4.jpg" width="556" height="690" alt="">
        </div>
      </div>
      <div class="swiper-slide more__slide">
        <div class="more__img-wrap">
          <img class="more__img" src="img/more/1.jpg" width="556" height="690" alt="">
        </div>
      </div>
      <div class="swiper-slide more__slide">
        <div class="more__img-wrap">
          <img class="more__img" src="img/more/2.jpg" width="556" height="690" alt="">
        </div>
      </div>
      <div class="swiper-slide more__slide">
        <div class="more__img-wrap">
          <img class="more__img" src="img/more/3.jpg" width="556" height="690" alt="">
        </div>
      </div>
      <div class="swiper-slide more__slide">
        <div class="more__img-wrap">
          <img class="more__img" src="img/more/4.jpg" width="556" height="690" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
