<section class="projects">
  <div class="container">
    <h2 class="projects__title">
      истории, которые можно прожить
    </h2>
    <div class="projects__inner">
      <div class="project">
        <div class="project__card project__card--name">
          <div class="project__status">
            <div class="project__status-label"></div>
            <div class="project__status-text">Идёт набор на съёмку</div>
            <div class="project__status-category">Название категории</div>
          </div>
        </div>
        <a class="project__card project__card--horizontal" href="#">
          <div class="project__card-img-wrap">
            <img class="project__card-img" src="img/projects/1.jpg" width="1152" height="690" alt="">
            <img class="project__card-img project__card-img--hidden" src="img/projects/3.jpg" width="1152" height="690"
              alt="">
          </div>
          <div class="project__card-info">
            <div class="project__category">
              <span class="project__category-name">Название категории</span>
              <img class="project__card-icon" loading="lazy" src="img/icons/arrow-up-right-white.svg" width="24"
                height="24" alt="">
            </div>
            <div class="project__name">Название проекта</div>
          </div>
        </a>
        <a class="project__card project__card--vertical" href="#">
          <div class="project__card-img-wrap">
            <img class="project__card-img" src="img/projects/2.jpg" width="576" height="690" alt="">
            <img class="project__card-img project__card-img--hidden" src="img/projects/5.jpg" width="1152" height="690"
              alt="">
          </div>
          <div class="project__card-info">
            <div class="project__category">
              <span class="project__category-name">Название категории</span>
              <img class="project__card-icon" loading="lazy" src="img/icons/arrow-up-right-white.svg" width="24"
                height="24" alt="">
            </div>
            <div class="project__name">Название проекта</div>
          </div>
        </a>
      </div>
      <div class="project">
        <a class="project__card project__card--vertical" href="#">
          <div class="project__card-img-wrap">
            <img class="project__card-img" src="img/projects/4.jpg" width="576" height="690" alt="">
            <img class="project__card-img project__card-img--hidden" src="img/projects/5.jpg" width="1152" height="690"
              alt="">
          </div>
          <div class="project__card-info">
            <div class="project__category">
              <span class="project__category-name">Название категории</span>
              <img class="project__card-icon" loading="lazy" src="img/icons/arrow-up-right-white.svg" width="24"
                height="24" alt="">
            </div>
            <div class="project__name">Название проекта</div>
          </div>
        </a>
        <div class="project__card project__card--name">
          <div class="project__status">
            <h3 class="project__category-title">Арт-съёмка</h3>
          </div>
        </div>
        <a class="project__card project__card--vertical"  href="#">
          <div class="project__card-img-wrap">
            <img class="project__card-img" src="img/projects/5.jpg" width="576" height="690" alt="">
            <img class="project__card-img project__card-img--hidden" src="img/projects/4.jpg" width="1152" height="690"
              alt="">
          </div>
          <div class="project__card-info">
            <div class="project__category">
              <span class="project__category-name">Название категории</span>
              <img class="project__card-icon" loading="lazy" src="img/icons/arrow-up-right-white.svg" width="24"
                height="24" alt="">
            </div>
            <div class="project__name">Название проекта</div>
          </div>
        </a>
      </div>
      <div class="project">
        <div class="project__card project__card--name">
          <div class="project__status">
            <h3 class="project__category-title">Love Story</h3>
          </div>
        </div>
        <a class="project__card project__card--horizontal"  href="#">
          <div class="project__card-img-wrap">
            <img class="project__card-img" src="img/projects/6.jpg" width="1152" height="690" alt="">
            <img class="project__card-img project__card-img--hidden" src="img/projects/3.jpg" width="1152" height="690"
              alt="">
          </div>
          <div class="project__card-info">
            <div class="project__category">
              <span class="project__category-name">Название категории</span>
              <img class="project__card-icon" loading="lazy" src="img/icons/arrow-up-right-white.svg" width="24"
                height="24" alt="">
            </div>
            <div class="project__name">Название проекта</div>
          </div>
        </a>
        <a class="project__card project__card--horizontal" href="#">
          <div class="project__card-img-wrap">
            <img class="project__card-img" src="img/projects/7.jpg" width="1152" height="690" alt="">
            <img class="project__card-img project__card-img--hidden" src="img/projects/3.jpg" width="1152" height="690"
              alt="">
          </div>
          <div class="project__card-info">
            <div class="project__category">
              <span class="project__category-name">Название категории</span>
              <img class="project__card-icon" loading="lazy" src="img/icons/arrow-up-right-white.svg" width="24"
                height="24" alt="">
            </div>
            <div class="project__name">Название проекта</div>
          </div>
        </a>
        <a class="project__card project__card--vertical" href="#">
          <div class="project__card-img-wrap">
            <img class="project__card-img" src="img/projects/8.jpg" width="576" height="690" alt="">
            <img class="project__card-img project__card-img--hidden" src="img/projects/5.jpg" width="1152" height="690"
              alt="">
          </div>
          <div class="project__card-info">
            <div class="project__category">
              <span class="project__category-name">Название категории</span>
              <img class="project__card-icon" loading="lazy" src="img/icons/arrow-up-right-white.svg" width="24"
                height="24" alt="">
            </div>
            <div class="project__name">Название проекта</div>
          </div>
        </a>
      </div>
      <div class="project">
        <div class="project__card project__card--name">
          <div class="project__status">
            <h3 class="project__category-title">Свадебная съёмка</h3>
          </div>
        </div>
        <a class="project__card project__card--horizontal" href="#">
          <div class="project__card-img-wrap">
            <img class="project__card-img" src="img/projects/9.jpg" width="1152" height="690" alt="">
            <img class="project__card-img project__card-img--hidden" src="img/projects/3.jpg" width="1152" height="690"
              alt="">
          </div>
          <div class="project__card-info">
            <div class="project__category">
              <span class="project__category-name">Название категории</span>
              <img class="project__card-icon" loading="lazy" src="img/icons/arrow-up-right-white.svg" width="24"
                height="24" alt="">
            </div>
            <div class="project__name">Название проекта</div>
          </div>
        </a>
      </div>
      <a class="projects__btn btn-secondary" href="#">
        <div class="btn-secondary__inner">
          <div class="btn-secondary__default">Ещё больше проектов</div>
          <div class="btn-secondary__hover">Ещё больше проектов</div>
        </div>
      </a>
    </div>
  </div>
</section>
