<section class="reviews">
  <div class="container">
    <h2 class="reviews__title">
      отзывы клиентов
    </h2>
    <ul class="reviews__list">
      <li class="reviews__item">
        <div class="reviews__img-wrap">
          <img class="reviews__img" loading="lazy" src="img/reviews/1.jpg" width="202" height="269" alt="">
        </div>
        <div class="reviews__item-content">
          <blockquote class="reviews__blockquote">
            <p class="reviews__blockquote-text">
              &laquo;Съёмка с&nbsp;Натальей&nbsp;&mdash; это не&nbsp;просто фотографии.
              <br>
              Это целая история, прожитая от&nbsp;начала до&nbsp;конца.
              <br>
              Очень глубокий подход, я&nbsp;увидела себя по‑новому&raquo;.
            </p>
          </blockquote>
          <div class="reviews__item-author">
            Елена О.
          </div>
        </div>
      </li>
      <li class="reviews__item">
        <div class="reviews__img-wrap">
          <img class="reviews__img" loading="lazy" src="img/reviews/2.jpg" width="202" height="269" alt="">
        </div>
        <div class="reviews__item-content">
          <blockquote class="reviews__blockquote">
            <p class="reviews__blockquote-text">
              &laquo;Я&nbsp;до&nbsp;сих пор пересматриваю эти кадры.
              Каждая фотография&nbsp;&mdash; как стоп-кадр из&nbsp;фильма, где я&nbsp;&mdash; главный герой.
              Наталья сумела передать не&nbsp;просто образ, а&nbsp;состояние, атмосферу, в&nbsp;которой я&nbsp;проживал
              этот момент.
              <br>
              Съёмка прошла легко, без позирования&nbsp;&mdash; всё было по‑настоящему.
              Теперь это не&nbsp;просто снимки, а&nbsp;моя личная история, рассказанная языком света
              и&nbsp;эмоций&raquo;.
            </p>
          </blockquote>
          <div class="reviews__item-author">
            Денис К.
          </div>
        </div>
      </li>
      <li class="reviews__item">
        <div class="reviews__img-wrap">
          <img class="reviews__img" loading="lazy" src="img/reviews/3.jpg" width="202" height="269" alt="">
        </div>
        <div class="reviews__item-content">
          <blockquote class="reviews__blockquote">
            <p class="reviews__blockquote-text">
              &laquo;Я&nbsp;обожаю атмосферные сериалы&nbsp;&mdash; и&nbsp;в&nbsp;этой съёмке будто сама оказалась
              в&nbsp;одном из&nbsp;них.
              Каждый кадр&nbsp;&mdash; как сцена из&nbsp;истории, где я&nbsp;не&nbsp;просто модель, а&nbsp;героиня
              со&nbsp;своим сюжетом.
              <br>
              Наталья точно чувствует настроение и&nbsp;помогает раскрыться по-настоящему.
              <br>
              Это был не&nbsp;просто фотосет, а&nbsp;целый киноопыт&nbsp;&mdash; с&nbsp;эмоциями, эстетикой
              и&nbsp;полным
              погружением.&raquo;
            </p>
          </blockquote>
          <div class="reviews__item-author">
            Ольга М
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
