<div class="swiper slider">
  <div class="swiper-wrapper">
    <div class="swiper-slide slider__item">
      <div class="slider__img-box">
        <div class="slider__img-main-wrap">
          <img class="slider__img-main" src="img/slider/1.jpg" alt="" width="945" height="597">
        </div>
        <div class="slider__img-right-wrap">
          <img class="slider__img-right " src="img/slider/2.jpg" alt="" width="292" height="438">
        </div>
        <div class="slider__img-bottom-wrap">
          <img class="slider__img-bottom" src="img/slider/3.jpg" alt="" width="205" height="307">
        </div>
      </div>
      <div class="slider__content">
        <div class="slider__status">
          <div class="slider__item-label"></div>
          <div class="slider__status-text">Идёт набор на съёмку</div>
        </div>
        <h3 class="slider__item-title">
          Тайна шепчущего леса
        </h3>
        <p class="slider__item-text">
          Мистический лес, глубокие оттенки красного и&nbsp;взгляды, полные смысла.
          <br>
          Эта съёмка&nbsp;&mdash; как кадр из&nbsp;волшебного фильма, где ты&nbsp;становишься главной героиней своей
          истории.
          <br>
          Подходит для индивидуальной съёмки с&nbsp;атмосферой тайны и&nbsp;эстетики.
        </p>
        <a class="slider__item-link btn-main" href="#">
          <span class="btn-main__inner">
        <span class="btn-main__default">подробнее</span>
        <span class="btn-main__hover">подробнее</span>
      </span>
        </a>
      </div>
    </div>
    <div class="swiper-slide slider__item">
      <div class="slider__img-box">
        <div class="slider__img-right-wrap">
          <img class="slider__img-right" src="img/slider/5.jpg" alt="" width="292" height="438">
        </div>
        <div class="slider__img-bottom-wrap">
          <img class="slider__img-bottom" src="img/slider/6.jpg" alt="" width="205" height="307">
        </div>
        <div class="slider__img-main-wrap">
          <img class="slider__img-main" src="img/slider/4.jpg" alt="" width="945" height="597">
        </div>
      </div>
      <div class="slider__content">
        <div class="slider__status">
          <div class="slider__item-label"></div>
          <div class="slider__status-text">Идёт набор на съёмку</div>
        </div>
        <h3 class="slider__item-title">
          На грани игры
        </h3>
        <p class="slider__item-text">
          Арт-фотосессия, вдохновлённая визуальным стилем «Игры в кальмара». Описание проекта
        </p>
        <a class="slider__item-link btn-main" href="#">
          <span class="btn-main__inner">
        <span class="btn-main__default">подробнее</span>
        <span class="btn-main__hover">подробнее</span>
      </span>
        </a>

      </div>
    </div>
    <div class="swiper-slide slider__item">
      <div class="slider__img-box">
        <div class="slider__img-main-wrap">
          <img class="slider__img-main" src="img/slider/1.jpg" alt="" width="945" height="597">
        </div>
        <div class="slider__img-right-wrap">
          <img class="slider__img-right " src="img/slider/2.jpg" alt="" width="292" height="438">
        </div>
        <div class="slider__img-bottom-wrap">
          <img class="slider__img-bottom" src="img/slider/3.jpg" alt="" width="205" height="307">
        </div>
      </div>
      <div class="slider__content">
        <div class="slider__status">
          <div class="slider__item-label"></div>
          <div class="slider__status-text">Идёт набор на съёмку</div>
        </div>
        <h3 class="slider__item-title">
          Тайна шепчущего леса
        </h3>
        <p class="slider__item-text">
          Мистический лес, глубокие оттенки красного и&nbsp;взгляды, полные смысла.
          <br>
          Эта съёмка&nbsp;&mdash; как кадр из&nbsp;волшебного фильма, где ты&nbsp;становишься главной героиней своей
          истории.
          <br>
          Подходит для индивидуальной съёмки с&nbsp;атмосферой тайны и&nbsp;эстетики.
        </p>
        <a class="slider__item-link btn-main" href="#">
          <span class="btn-main__inner">
        <span class="btn-main__default">подробнее</span>
        <span class="btn-main__hover">подробнее</span>
      </span>
        </a>
      </div>
    </div>
    <div class="swiper-slide slider__item">
      <div class="slider__img-box">
        <div class="slider__img-right-wrap">
          <img class="slider__img-right" src="img/slider/5.jpg" alt="" width="292" height="438">
        </div>
        <div class="slider__img-bottom-wrap">
          <img class="slider__img-bottom" src="img/slider/6.jpg" alt="" width="205" height="307">
        </div>
        <div class="slider__img-main-wrap">
          <img class="slider__img-main" src="img/slider/4.jpg" alt="" width="945" height="597">
        </div>
      </div>
      <div class="slider__content">
        <div class="slider__status">
          <div class="slider__item-label"></div>
          <div class="slider__status-text">Идёт набор на съёмку</div>
        </div>
        <h3 class="slider__item-title">
          На грани игры
        </h3>
        <p class="slider__item-text">
          Арт-фотосессия, вдохновлённая визуальным стилем «Игры в кальмара». Описание проекта
        </p>
        <a class="slider__item-link btn-main" href="#">
          <span class="btn-main__inner">
        <span class="btn-main__default">подробнее</span>
        <span class="btn-main__hover">подробнее</span>
      </span>
        </a>

      </div>
    </div>
    <div class="swiper-slide slider__item">
      <div class="slider__img-box">
        <div class="slider__img-main-wrap">
          <img class="slider__img-main" src="img/slider/1.jpg" alt="" width="945" height="597">
        </div>
        <div class="slider__img-right-wrap">
          <img class="slider__img-right " src="img/slider/2.jpg" alt="" width="292" height="438">
        </div>
        <div class="slider__img-bottom-wrap">
          <img class="slider__img-bottom" src="img/slider/3.jpg" alt="" width="205" height="307">
        </div>
      </div>
      <div class="slider__content">
        <div class="slider__status">
          <div class="slider__item-label"></div>
          <div class="slider__status-text">Идёт набор на съёмку</div>
        </div>
        <h3 class="slider__item-title">
          Тайна шепчущего леса
        </h3>
        <p class="slider__item-text">
          Мистический лес, глубокие оттенки красного и&nbsp;взгляды, полные смысла.
          <br>
          Эта съёмка&nbsp;&mdash; как кадр из&nbsp;волшебного фильма, где ты&nbsp;становишься главной героиней своей
          истории.
          <br>
          Подходит для индивидуальной съёмки с&nbsp;атмосферой тайны и&nbsp;эстетики.
        </p>
        <a class="slider__item-link btn-main" href="#">
          <span class="btn-main__inner">
        <span class="btn-main__default">подробнее</span>
        <span class="btn-main__hover">подробнее</span>
      </span>
        </a>
      </div>
    </div>
  </div>
  <div class="slider__btns">
    <div class="slider__btn-prev">Назад</div>
    <div class="swiper-pagination"></div>
    <div class="slider__btn-next">Далее</div>
  </div>
</div>
