<section class="contacts" id="contacts">
  <div class="container">
    <div class="contacts__inner">
      <div class="contacts__info">
        <h2 class="contacts__title">
          контакты
        </h2>
        <a class="contacts__phone" href="tel:+70000000000">
          7 (000) 000-00-00
        </a>
        <a class="contacts__mail" href="mailto:example@mail.com">
          example@mail.com
        </a>
        <div class="contacts__social">
          <a class="contacts__social-link btn-main" href="#">
            <span class="btn-main__inner">
              <span class="btn-main__default">telegram</span>
              <span class="btn-main__hover">telegram</span>
            </span>
          </a>
          <a class="contacts__social-link btn-main" href="#">
            <span class="btn-main__inner">
              <span class="btn-main__default">WHATSAPP</span>
              <span class="btn-main__hover">WHATSAPP</span>
            </span>
          </a>
          <a class="contacts__social-link btn-main" href="#">
            <span class="btn-main__inner">
              <span class="btn-main__default">vk</span>
              <span class="btn-main__hover">vk</span>
            </span>
          </a>
        </div>
      </div>
      <div class="contacts__form">
        <h3 class="contacts__form-title">
          Обсудим проект?
        </h3>
        <form action="#" class="form">
          <div class="form__item">
            <label class="form__label">
              <input type="text" name="Имя" class="form__input" placeholder="Ваше имя *">
            </label>
            <span class="form__error">Поле обязательно для заполнения</span>
          </div>
          <div class="form__item-wrap">
            <div class="form__item">
              <label class="form__label">
                <input type="tel" name="phone" class="form__input" placeholder="Номер телефона *">
              </label>
              <span class="form__error">Поле обязательно для заполнения</span>
            </div>
            <div class="form__item">
              <label class="form__label">
                <input type="email" name="mail" class="form__input" placeholder="Email *">
              </label>
              <span class="form__error">Поле обязательно для заполнения</span>
            </div>
          </div>
          <div class="form__item">
            <label class="form__label">
              <textarea name="Комментарий" class="form__input form__input--textarea"
                placeholder="Комментарий"></textarea>
            </label>
          </div>
          <div class="form__item">
            <label class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox__field">
              <span class="custom-checkbox__content">
                Я согласен на обработку персональных данных
              </span>
            </label>
            <span class="form__error form__error--checkbox">Подтвердите согласие для отправки</span>
          </div>
          <button class="form__btn btn-secondary">
            <div class="btn-secondary__inner">
              <div class="btn-secondary__default">Обсудить проект</div>
              <div class="btn-secondary__hover">Обсудить проект</div>
            </div>
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
