<section class="section-project">
  <div class="container">
    <h1 class="section-project__title">
      Свадьба Ирины и Олега
    </h1>
    <div class="section-project__inner">
      <div class="section-project__gallery">
        <div class="section-project__img-wrap">
          <img class="section-project__img" src="img/gallery/7.jpg" width="1142" height="690" alt="">
        </div>
        <div class="section-project__img-wrap">
          <img class="section-project__img" src="img/gallery/8.jpg" width="1142" height="690" alt="">
        </div>
        <div class="section-project__img-wrap">
          <img class="section-project__img" src="img/gallery/9.jpg" width="1142" height="1409" alt="">
        </div>
        <div class="section-project__img-wrap">
          <img class="section-project__img" src="img/gallery/10.jpg" width="1142" height="690" alt="">
        </div>
      </div>
      <div class="section-project__info aside">
        <div class="aside__info-box">
          <div class="aside__info-item">
            <div class="aside__info-label">
              ДОСТУПНОСТЬ:
            </div>
            <div class="aside__info-value">
              МОЖНО ПОВТОРИТЬ
            </div>
          </div>
          <div class="aside__info-item">
            <div class="aside__info-label">
              КАТЕГОРИЯ:
            </div>
            <div class="aside__info-value">
              СВАДЕБНАЯ СЪЁМКА
            </div>
          </div>
          <div class="aside__info-item">
            <div class="aside__info-label">
              ДАТА ПРОВЕДЕНИЯ:
            </div>
            <div class="aside__info-value">
              ИЮЛЬ 2023
            </div>
          </div>
          <div class="aside__info-item">
            <div class="aside__info-label">
              СТОИМОСТЬ:
            </div>
            <div class="aside__info-value">
              от 50 000 ₽
            </div>
          </div>
        </div>
        <div class="aside__text-box">
          <p class="aside__text">
            Арт-съёмка с элементами фэнтези и сказочного визуала. Атмосфера дикой природы, дымка, яркие акценты и образ
            героини, словно сошедшей со страниц легенды.
            Идеально для тех, кто хочет стать частью истории — сильной, чувственной и немного волшебной.
          </p>
          <p class="aside__text">
            Подходит для индивидуальной или парной фотосессии.
          </p>
        </div>
        <button class="aside__btn btn-main" data-graph-path="modal-project">
          <span class="btn-main__inner">
              <span class="btn-main__default">записаться</span>
              <span class="btn-main__hover">записаться</span>
            </span>
        </button>
        <div class="graph-modal">
          <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal-project">
            <button class="js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
            <div class="graph-modal__content">
              <div class="form-wrapper">
                <h3 class="form-title">
                  Заказать фотосессию
                </h3>
                <form action="#" class="form">
                  <div class="form__item">
                    <label class="form__label">
                      <input type="text" name="Имя" class="form__input" placeholder="Ваше имя *">
                    </label>
                    <span class="form__error">Поле обязательно для заполнения</span>
                  </div>
                  <div class="form__item-wrap">
                    <div class="form__item">
                      <label class="form__label">
                        <input type="tel" name="phone" class="form__input" placeholder="Номер телефона *">
                      </label>
                      <span class="form__error">Поле обязательно для заполнения</span>
                    </div>
                    <div class="form__item">
                      <label class="form__label">
                        <input type="email" name="mail" class="form__input" placeholder="Email *">
                      </label>
                      <span class="form__error">Поле обязательно для заполнения</span>
                    </div>
                  </div>
                  <div class="form__item">
                    <label class="form__label">
                      <textarea name="Комментарий" class="form__input form__input--textarea"
                        placeholder="Комментарий"></textarea>
                    </label>
                  </div>
                  <div class="form__item">
                    <label class="custom-checkbox">
                      <input type="checkbox" class="custom-checkbox__field">
                      <span class="custom-checkbox__content">
                        Я согласен на обработку персональных данных
                      </span>
                    </label>
                    <span class="form__error form__error--checkbox">Подтвердите согласие для отправки</span>
                  </div>
                  <button class="form__btn btn-secondary">
                    <div class="btn-secondary__inner">
                      <div class="btn-secondary__default">Обсудить проект</div>
                      <div class="btn-secondary__hover">Обсудить проект</div>
                    </div>
                  </button>
                </form>
                <div class="form-info">
                  <p class="form-info__text">
                    Нажимая на кнопку «Заказать», вы соглашаетесь с
                    <a class="form-info__link" href="#">Политикой конфиденциальности</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
