<div class="sta">
  <div class="sta__parallax" style=" background-image: url('img/sta-bg.jpg');"></div>
  <div class="sta__inner">
    <h3 class="sta__title">
      Хочешь стать частью визуальной истории?
    </h3>
    <p class="sta__text">
      Выбери один из проектов или предложи свою идею.
    </p>
    <div class="sta__links">
      <a class="sta__link btn-secondary btn-secondary--white" href="#">
        <div class="btn-secondary__inner">
          <div class="btn-secondary__default">Выбрать проект</div>
          <div class="btn-secondary__hover">Выбрать проект</div>
        </div>
      </a>
      <a class="sta__link btn-subtitle" href="#">
        <div class="btn-subtitle__inner">
          <div class="btn-subtitle__default">Обсудить свой проект</div>
          <div class="btn-subtitle__hover">Обсудить свой проект</div>
        </div>
      </a>
    </div>
  </div>
</div>
